<h2>Shopping Cart</h2>
<br>
<br>
<br>
<br>

<div class="donut-container-show">
  <h2>{{user.username}}'s Shopping Cart</h2>
  {{#each user.shoppingCart}}
  <h2 id="donut-name">
      {{name}}
  </h2>
  <img src="{{img}}" alt="donut that you bought">
  <h4>Price: ${{price}}</h4>
  <br>
  {{/each}}
</div>
