<h1>New Item</h1>
<form action="/users/{{user.id}}/items" method="POST">
  <div>
    <label for="name">
      Item Name
    </label>
    <input type="text" name="name" value="Item Name"/>
  </div>
  <div>
    <input type="submit" value="Add Item"/>
  </div>
</form>
