<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <form action="/pirates" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" class="form-control" placeholder="Enter Name">

          <label for="birthplace">Birthplace: </label>
          <input type="text" name="birthplace" class="form-control" placeholder="Enter Birthplace">

          <label for="death_year">Year of Death:</label>
          <input type="text" name="death_year" class="form-control" placeholder="Enter Year of Death">

          <label for="base">Base:</label>
          <input type="text" name="base" class="form-control" placeholder="Enter Pirate Base">

          <label for='nickname'>Nickname:</label>
          <input type="text" name='nickname' class="form-control" placeholder="Enter Nickname">
        </div>
        <div>
          <button type="submit" class="btn btn-lg btn-danger" value="Add New Pirate">Add New Pirate</button>
        </div>
      </form>
    </div>
</div>
</div>
